
@{
    ViewData["Title"] = "Send_Email";
}

<h1>Send_Email</h1>
<form asp-controller="Email" asp-action="Send_Email" method="post">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">From:</label>
        <input type="email" class="form-control" id="email" name="From">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">To:</label>
        <input type="email" class="form-control" id="pwd" name="To">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Subject:</label>
        <input type="text" class="form-control" id="pwd" name="Subject">
    </div>
    <label for="comment">Body:</label>
    <textarea class="form-control" rows="5" id="comment" name="Body"></textarea>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

